html {
  overflow: scroll;
}
html::-webkit-scrollbar {
  display: none;
}

#coin .coin {
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #444;
  box-shadow: 0px 1px #444;
}

#coin .coin:last-child {
  transform: rotateY(180deg);
}

.shop-label:hover {
  background-color: #c1c1c1 !important;
  cursor: pointer;
}
